<div class="tech-btm">
    <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Mail Bültenine Abone Olun</h4>
    <p>Teknoloji,yazılım ve diğer bloglar</p>
    <form asp-controller="NewsLetter" asp-action="SubscribeMail"  method="post">
        <input name="Mail" type="email" placeholder="Email" required="">
        <input type="submit" value="Subscribe">
    </form>

</div>